@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

.home {
  display: grid;
  grid-template-rows: 92px 750px;
  width: 375px;
}

.header {
  background-color: #3c3a39;
}

.header h1 {
  color: #fff;
  position: relative;
  margin-top: 56px;
  margin-bottom: 12px;
  margin-left: 24px;
  font-size: 18px;
}

.header a {
  position: absolute;
  color: #fff;
  width: 24px;
  height: 24px;
  top: 66px;
  left: 362px;
}

.headline {
  background-color: #1c1a19;
  padding: 120px 24px;
}

.headline h1 {
  color: #ff6b00;
  font-size: 56px;
  font-family: Crete Round, sans-serif;
  letter-spacing: 0.37px;
}

.headline h2 {
  color: #fff5e1;
  font-size: 25px;
  font-family: roboto, sans-serif;
  font-weight: 700 bold;
}

.headline p {
  color: #fff;
  font-size: 16px;
  font-family: poppins, sans-serif;
}

.headline a {
  color: #dbd8d7;
  text-decoration: none;
  font-size: 20px;
}

.social {
  padding-left: 0;
  display: flex;
  gap: 21px;
}

li {
  display: flex;
  flex-direction: row;
  list-style: none;
}

img {
  position: absolute;
  float: right;
  padding-right: 1px;
  left: 250px;
}
